body {
  font-family: "Trebuchet MS";
  background: #e6e6e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #e6e6e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #e6e6e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.accordion-button:not(.collapsed) {
  color: black;
  background: lightgreen;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857;
}

.col-sm {
  color: #595959 !important;
}

.text-light {
  color: #595959 !important;
}

.sprinkler-result {
  border: 2px solid;
  background-color: #cde9d9;
  color: #000;
  padding: 10px 10px 10px 10px;
}

.activation-plot {
  background: whitesmoke; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    whitesmoke,
    #6cdff9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    whitesmoke,
    #6cdff9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fire-plot {
  background: #def883; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #def883,
    whitesmoke
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #def883,
    whitesmoke
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-calculate {
  --bs-btn-color: white;
  --bs-btn-bg: lightseagreen;
  --bs-btn-border-color: lightseagreen;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: lightseagreen;
  --bs-btn-disabled-border-color: lightseagreen;
}
.btn-print {
  --bs-btn-color: black;
  --bs-btn-bg: yellowgreen;
  --bs-btn-border-color: yellowgreen;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: yellowgreen;
  --bs-btn-disabled-border-color: yellowgreen;
}
.btn-clear {
  --bs-btn-color: black;
  --bs-btn-bg: yellow;
  --bs-btn-border-color: yellow;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: yellow;
  --bs-btn-disabled-border-color: yellow;
}

canvas {
  min-height: 320px;
  border: 1.5px black solid;
}

.result-style {
  text-align: center;
  border: 1.5px grey solid;
  border-radius: 5px;
}

/* Chart.js */
@-webkit-keyframes chartjs-render-animation {
  from {
    opacity: 0.99;
  }
  to {
    opacity: 1;
  }
}
@keyframes chartjs-render-animation {
  from {
    opacity: 0.99;
  }
  to {
    opacity: 1;
  }
}
.chartjs-render-monitor {
  -webkit-animation: chartjs-render-animation 0.001s;
  animation: chartjs-render-animation 0.001s;
}
/* end chat.js */

/* Media Query for Mobile Devices */
@media (max-width: 350px) {
  canvas,
  .line-chart {
    max-width: 20em;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 361px) and (max-width: 425px) {
  canvas,
  .line-chart {
    max-width: 23em;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  canvas,
  .line-chart {
    max-width: 25em;
  }
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1023px) {
  canvas,
  .line-chart {
    max-width: 45em !important;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1024px) and (max-width: 1280px) {
  canvas,
  .line-chart {
    max-width: 60em !important;
  }
}

/* Media Query for Large screens */
@media (min-width: 1440px) and (max-width: 2560px) {
  canvas,
  .line-chart {
    max-width: 68em;
  }
}

.range-container {
  position: relative;
}

input[type="range"] {
  width: 180px;
  margin: 10px 0;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"] + label {
  background-color: black;
  position: absolute;
  top: -30px;
  left: 70px;
  width: 40px;
  padding: 5px 0;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Chrome and Safari */

input[type="range"]::-webkit-slider-runnable-track {
  background: purple;
  border-radius: 4px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: white;
  border-radius: 50%;
  border: 1px solid purple;
  margin-top: -7px;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  background: purple;
  border-radius: 4px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  background: white;
  border-radius: 50%;
  border: 1px solid purple;
  margin-top: -7px;
}

/* IE */
input[type="range"]::-ms-track {
  background: purple;
  border-radius: 4px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  height: 24px;
  width: 24px;
  background: white;
  border-radius: 50%;
  border: 1px solid purple;
  margin-top: -7px;
}
